/* Layout of pages (includes position, margin, padding, etc).
*/

body {
    position: relative;
    html {
        margin: 0;
        padding: 0;
    }
}

.main_container {
    width: 90vw;
    margin: auto;
}

.section_container {
    width: 90vw;
    margin: auto;
}

section {
    position: relative;
    z-index: 1;
}

.skew_clip {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    padding-top: 50px;
    padding-bottom: 145px;
    margin-top: 24px;
}

#section_about-us img{
    position: relative;
    max-width: 100%;
    height: auto;
    z-index: 0;
}

#section_newsletter {
    text-align: center;
}

#section_newsletter .skew_clip {
    clip-path: polygon(0 55%, 100% 0%, 100% 100%, 0% 100%);
}

#section_interviews img {
    display: block;
    position: relative;
    left: -5vw;
    max-width: 100vw;
}