// Main styles files. Here we import and put everything together.

// Imports
@import "variables";

body {
    font-family: $global-text-family;
    color: $global-text-color;
    padding: 0;
    margin: 0;
}

section {
    width: 100%;
}

h1 {
    font-family: $h1-text-family;
    font-size: $h1-text-size;
    line-height: $h1-line-height;
}

h3 {
    font-family: $h3-text-family;
    font-size: $h3-text-size;
}

p {
    font-size: $p-text-size;
}

button {
    font-family: $button-text-family;
    font-weight: 500;
    text-transform: uppercase;
    width: 288px;
    height: 48px;
    font-size: $button-text-size;
    background-color: $button-regular-color;
    border: none;
}

button:hover {
    background-image: linear-gradient(225deg, $button-hover-color-1, $button-hover-color-2);
    color: $global-text-color-inverse;
}

iframe {
    width:320px;
    height:280px;
    border-radius: 10px;
}

span {
    text-decoration: line-through;
}

.section_container {
    margin: 0 16px 0 16px;
}

.episode_container {
    text-align: center;
}

.episode_image {
    max-width: 258px;
    height: 225px;
}

#section_episodes, #section_newsletter {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    
    h1 {
        color: $global-text-color-inverse;
    }
}

.episode_player {
    width: 100%;
}

#section_about-us div img {
    width: 360px;
}

#section_about-us div {
    text-align: center;
}

.guest_img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.topic_item {
    text-align: center;
}