@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,500;1,300&family=IBM+Plex+Sans:wght@500;600&display=swap");

body {
    margin: 0;
    padding: 0;
}

section,
footer {
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

a {
    text-decoration: none;
}

i {
    color: black;
}

li {
    display: inline-block;
    &:hover {
        color: #00f3bb;
        text-decoration: line-through;
    }

    &:active {
        color: rgba(6, 10, 36, 0.56);
    }
}

#section_about-us img {
    transform: translateY(-100px);
    margin-bottom: -100px;
}

#section_about-us {
    display: flex;
    flex-flow: row wrap;
    z-index: 2;
}

#section_news {
    padding-bottom: 67px;
}

h1,
h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 500;
}

span {
    &.line-through {
        text-decoration: line-through;
    }
    &.blue-dot {
        color: #0000ec;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

#section_interviews {
    align-self: stretch;
}

.secondary_color {
    color: #ffffff;
}

.alt_bkg_color {
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
}

.episodes_container {
    position: relative;
    width: 90vw;
}

.skewed {
    padding-top: 64px;
    padding-bottom: 144px;
    clip-path: polygon(0 6%, 100% 0, 100% 96%, 0% 100%);
}

.skewed_top {
    padding-top: 64px;
    clip-path: polygon(0 23%, 100% 0, 100% 100%, 0% 100%);
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 24px;
    color: #060a24;
    letter-spacing: 0;
    text-align: center;
}

.content__centered {
    text-align: center;
}

p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 500;
}

.full_width {
    width: 100%;
}

.img__guest {
    display: block;
    position: relative;
    left: -5vw;
    width: 100vw;
}

.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    /* appearance: button; */

    background: #00f3bb;
    height: auto;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    text-decoration: none;
    color: initial;
    text-align: center;

    font-family: "IBM Plex Mono";
    font-size: 16px;
    color: #060a24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
}

.btn:hover {
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
    color: #ffffff;
}

footer {
    text-align: center;
    margin-bottom: 31px;
}

.container_icons {
    width: 230px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.uppercase {
    text-transform: uppercase;
}
/** Hamburguer menu **/

nav {
    grid-area: navbar;
    z-index: 999;
    .hamburguesa {
        margin-right: 19px;
    }
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    img {
        margin-left: 16px;
    }
    span {
        display: block;
        width: 18px;
        height: 2px;
        margin-bottom: 2px;
        position: relative;
        background: #000;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        &:first-child {
            transform-origin: 0% 0%;
        }
        &:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
    }
    input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0px, -1px);
    }
    ul {
        width: 100%;
        position: absolute;
        top: 45px;
        right: 0;
        overflow: hidden;
        list-style: none;
        background: #0000ec;
        height: 0px;
        li {
            position: relative;
            margin: 16px 217px 12px 16px;
            a {
                font-family: "IBM Plex Mono", monospace;
                font-weight: 400;
                font-size: 16px;
                color: #ffffff;
                letter-spacing: 0;
                line-height: 28px;
                position: relative;
                text-decoration: none;
                display: block;
            }
        }
    }
    input[type="checkbox"]:checked ~ ul {
        height: 224px;
    }
    input {
        display: block;
        width: 40px;
        height: 32px;
        opacity: 0;
        z-index: 2;
        position: absolute;
    }
}

@media only screen and (min-width: 400px) {

    .btn {
        max-width: 345px;
    }

}

@media only screen and (min-width: 1000px) {
    section {
        width: auto;
        padding-left: 100px;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    }

    h1,
    h2 {
        margin-left: 100px;
    }

    p {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
    }

    img {
        width: auto !important;
    }

    iframe {
        max-width: 90%;
        margin-bottom: 64px;
        margin-top: 8px;
        width:100%;
        height:232px; 
        border:0;
        background-color:transparent;
    }

    #section_hero {
        padding-bottom: 5px;
        p {
            max-width: 628px;
            margin-bottom: 56px;
        }

        p,
        .btn {
            margin-left: 100px;
        }
    }

    #section_about-us {
        padding-top: 0px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;

        h2 {
            margin-left: 0;
        }

        p {
            max-width: 464px;
        }
        img {
            max-width: 457px;
            transform: translateY(-175px);
            margin-bottom: -100px;
        }
    }

    #section_episodes {
        padding-top: 0px;
        padding-bottom: 232px;

        h2 {
            margin-top: 186px;
            margin-bottom: 18px;
        }
    }

    #section_interviews {
        width: 100%;
        padding: 0;

        h2 {
            padding-left: 100px;
        }

        img {
            display: block;
            position: relative;
            left: auto;
        }
    }

    #section_news {
        text-align: center;
        padding-top: 213px;
        padding-bottom: 151px;
        h2 {
            margin: auto;
        }
        .btn {
            margin-top: 35px;
        }
    }

    #section_topics {
        padding: 0;
        h2 {
            margin-left: 220px;
        }
    }

    .skewed {
        clip-path: polygon(0 15%, 100% 0%, 100% 84%, 0% 100%);
    }

    .episodes_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // row-gap: 36px;
        // column-gap: 36px;
    }

    .topics_container {
        padding-right: 100px;
        padding-left: 120px;
        padding-top: 69px;
        padding-bottom: 34px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .image_mosaic {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
    }

    .img__guest {
        max-width: 480px;
        margin: 0;
        padding: 0;
    }

    .btn {
        width: 345px;
    }

    img {
        &.full_width {
            max-width: 100%;
        }
    }

    nav {
        height: auto;
        img {
            margin-left: 100px;
            width: 36px;
        }
        .hamburguesa {
            margin-right: 50px;
        }
        input {
            display: none;
        }
        span {
            display: none;
        }
        ul {
            position: relative;
            top: 0;
            right: 0;
            overflow: hidden;
            background: unset;
            height: unset;
            li {
                margin: unset;
                margin-right: 48px;
                display: inline-block;
                margin-top: 16px;
                margin-bottom: 16px;
                a {
                    padding: unset;
                    line-height: unset;
                    color: black;
                    &:hover {
                        color: #00f3bb;
                        text-decoration: line-through;
                    }
                    &:active {
                        color: rgba(6, 10, 36, 0.56);
                        text-decoration: line-through;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        padding-left: 100px;
        padding-right: 100px;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;

        .container_icons {
            padding-right: 50px;
        }
    }

    iframe {
        max-width: 90%;
        margin-bottom: 64px;
        margin-top: 8px;
    }
}
